doctype hmtl
html
    head
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap" rel="stylesheet")   
        link(rel='stylesheet' href='styles/styles.css')
        script(defer, src="scripts/script.js")
        title 130 Lights
        meta(name="theme-color" content="#403d52")
    body 
        div.side-panel
            h1 Lights
            hr
            div#optionList
                each option in options
                    div.option(data-settings=option.settings, data-name=option.name)=option.name
        div.main
            div.top-content
                select#optionSelect
                    each op in options
                        option(data-settings=op.settings, data-name=op.name, value=op.name)=op.name
                h1#selectedTitle Show Off
                div.input-section#brightnessSection
                    h2 Brightness
                    input(type="range" min="25" max="250" value="200" step="25")#brightnessInput
                div.input-section#delaySection
                    h2 Delay
                    input(type="range" min="0" max="250" value="200" step="10")#delayInput
                div.input-section#colorSection
                    h2 Color
                    input(type="color" value="#74BCFF")#colorInput
            div.bottom-content
                button.render-btn#render Render